body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Konnect';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    font-weight: normal;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    line-height: 35px;
    font-size: 20px;
    color: #757575;
    letter-spacing: .6px;
}

img {
    border: none;
}

ul {
    margin: 0px;
    padding: 0px;
}

ul li {
    list-style-type: none;
}

a,
a:hover {
    text-decoration: none;
    cursor: pointer;
}

@font-face {
    font-family: 'konnect-Light';
    src: url('../fonts/konnect/Konnect-Light.eot');
    src: url('../fonts/konnect/Konnect-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/konnect/Konnect-Light.woff2') format('woff2'), url('../fonts/konnect/Konnect-Light.woff') format('woff'), url('../fonts/konnect/Konnect-Light.ttf') format('truetype'), url('../fonts/konnect/Konnect-Light.svg#Konnect-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'konnect-Medium';
    src: url('../fonts/konnect/Konnect-Medium.eot');
    src: url('../fonts/konnect/Konnect-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/konnect/Konnect-Medium.woff2') format('woff2'), url('../fonts/konnect/Konnect-Medium.woff') format('woff'), url('../fonts/konnect/Konnect-Medium.ttf') format('truetype'), url('../fonts/konnect/Konnect-Medium.svg#Konnect-Medium') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'konnect-SemiBold';
    src: url('../fonts/konnect/Konnect-SemiBold.eot');
    src: url('../fonts/konnect/Konnect-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/konnect/Konnect-SemiBold.woff2') format('woff2'), url('../fonts/konnect/Konnect-SemiBold.woff') format('woff'), url('../fonts/konnect/Konnect-SemiBold.ttf') format('truetype'), url('../fonts/konnect/Konnect-SemiBold.svg#Konnect-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


/* header css start */

.site-header {
    background-color: #fff;
    padding: 15px;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'konnect-Medium';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #000000 !important;
}

#menu-top-header-menu {
    align-items: center;
}

.navbar-light .navbar-nav .nav-link.btn-get {
    background: #CD1417;
    padding: 20px 30px;
    border-radius: 10px;
    color: #fff !important;
}

.navbar-light .navbar-nav .nav-link.btn-get:hover {
    background: #4285f4;
}

.digital-logo {
    padding: 50px 0px;
}

.digital-logo ul {
    display: flex;
    justify-content: space-between;
}

.digital-logo ul li {
    padding: 0px 5px;
}

.digital-logo ul li img {
    height: 80px;
    width: auto;
}

.digital-logo ul li:first-child {
    padding-left: 0px;
}

.digital-logo ul li:last-child {
    padding-right: 0px;
}

.text-red {
    color: #CD1417;
}

.text-black {
    color: #000;
}

.btn-relative {
    position: relative;
}

.btn-red {
    background: #CD1417;
    padding: 20px 70px 20px 30px;
    border-radius: 10px;
    color: #fff;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
}

.btn-red::before {
    position: absolute;
    content: '';
    right: 20px;
    top: 28px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    background-size: 320px;
    background-position: -15px -9px;
    height: 16px;
    width: 33px;
}

.btn-red:hover {
    background: #4285f4;
    color: #fff;
    text-decoration: none;
}

.about-video img {
    width: 100%;
    border-radius: 30px;
}

.team-of-talents {
    position: relative;
    margin-bottom: 50px;
}

.title-1 {
    display: block;
    width: 100%;
}

.title-1 h2,
.title-1 h3 {
    font-weight: 600;
    font-size: 60px;
    line-height: 80px;
    text-align: center;
    color: #000;
    width: 90%;
    margin: 0 auto 50px auto;
}

.common-space {
    padding: 40px 0px;
}

.about-video {
    border-radius: 30px;
    margin-bottom: 30px;
    position: relative;
}

.btn-about {
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-top-right-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 0px;
}


/* service section css */

.slider-nav .service-box {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(206, 206, 206, 0.5);
    border-radius: 30px;
    padding: 35px;
    margin: 10px;
    text-align: center;
    min-height: 535px;
}

.slider-nav .service-box h3 {
    font-size: 24px;
    line-height: 30px;
    color: #000;
    margin-bottom: 20px;
}

.slider-nav .service-box img {
    height: 220px;
    margin: 0 auto 20px auto;
}

.slick-dots.slider-nav-dot {
    position: relative;
    bottom: -13px;
    text-align: left;
}

.slider-nav .slick-dots {
    display: none !important;
}

.slider-nav-dot.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: inline-block;
    width: 25px;
    height: 5px;
    padding: 0px;
    cursor: pointer !important;
    color: #bdbdbd00;
    border: 0 !important;
    background: #b3b3b3 !important;
    outline: 0;
    margin: 10px !important;
}

.our-box {
    display: flex;
    background: linear-gradient(247.45deg, #8CC63E 11.21%, #5CA000 106.26%);
    border-radius: 30px;
    padding: 50px 30px 0px 30px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.our-box-img img {
    width: 100%;
}

.b-sub-title {
    font-family: 'Konnect-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #fff;
}

.bg-green {
    background: linear-gradient(247.45deg, #8CC63E 11.21%, #5CA000 106.26%);
}

.bg-green .b-sub-title {
    color: #386002;
}

.bg-yellow {
    background: linear-gradient(248.21deg, #F89702 35.44%, #FABB5A 138.12%);
}

.bg-yellow .b-sub-title {
    color: #9D5F00;
}

.bg-lightblue {
    background: linear-gradient(247.45deg, #3EAEC6 11.21%, #0070A0 106.26%);
}

.bg-lightblue .b-sub-title {
    color: #00455B;
}

.bg-pal {
    background: linear-gradient(248.21deg, #AC8EFF 35.44%, #6F3DFF 138.12%);
}

.bg-pal .b-sub-title {
    color: #3F3F3F;
}

.b-main-title {
    font-family: 'Konnect-SemiBold';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 59px;
    color: #FFFFFF;
    text-shadow: 0px 10px 60px rgba(0, 0, 0, 0.15);
}

.b-main-dcs {
    font-family: 'Konnect-SemiBold';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    width: 90%;
}

.out-tech {
    display: flex;
    align-items: center;
}

.out-tech li {
    background: rgba(0, 0, 0, 0.31);
    border-radius: 8px;
    color: #fff;
    padding: 8px 15px;
    margin-right: 6px;
}


/* contact box css */

.contact-box {
    background: #CD1417;
    padding: 100px;
    margin: 50px 0px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    z-index: -2;
}

.contact-box::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 500px;
    width: 100%;
    z-index: -1;
}

.contact-box h4 {
    font-family: 'Konnect-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 91px;
    color: #FFFFFF;
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}

.job-type {
    background: #FFFFFF;
    box-shadow: 0px 50px 60px rgb(0 0 0 / 8%);
    padding: 10px;
    display: block;
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
}

.job-type .input-work {
    height: 70px;
    border: 0px;
    padding: 0px 20px;
    border-right: 2px solid #E8E7E8;
}

.job-type .input-location {
    height: 70px;
    border: 0px;
    padding: 0px 20px;
}

.job-type .btn-find {
    background: #CD1417;
    border-radius: 15px;
    color: #fff;
    font-size: 20px;
    padding: 15px 50px;
}


/* 
.bg-green .out-tech li {
    background: rgba(0, 0, 0, 0.31);
} */

#footer-widget .widget-title {
    font-family: 'konnect-Medium';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #000;
}

.top-footer {
    padding-top: 50px;
}

.top-footer .card-logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#footer-widget .menu .nav-link {
    display: block;
    padding: 0px;
    color: #857B7B;
    font-family: 'konnect-Light';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
}

#footer-widget .middle-footer {
    padding: 50px 0px;
    justify-content: space-between;
}

.footer-dcs {
    font-family: 'Konnect-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #000000;
    margin-top: 15px;
}

.social-media {
    display: flex;
    position: relative;
}

.country-mark {
    background: url('../images/sprite.png');
    background-position: -4px -56px;
    background-size: 320px;
    background-repeat: no-repeat;
    height: 30px;
    width: 34px;
    display: inline-block;
    margin-right: 10px;
}

.country-mark-ca {
    background: url('../images/sprite.png');
    background-position: -56px -57px;
    background-size: 320px;
    background-repeat: no-repeat;
    height: 30px;
    width: 34px;
    display: inline-block;
    margin-right: 10px;
}

.site-footer {
    background: #f8f9fa;
}

.site-footer>.container {
    border-top: 2px solid rgba(0, 0, 0, 0.13) !important;
    padding-top: 30px !important;
}

.site-footer .copy-right {
    font-family: 'Konnect-Medium';
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #857B7B;
}

#footer-widget .menu .nav-link:hover,
#footer-widget a:hover {
    color: #CD1417 !important;
}

.text-red {
    color: #CD1417;
}

.f-contact-link,
.f-mail-link {
    font-family: 'Konnect-Medium';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 0.03em;
    color: #000000;
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
}

.f-contact-link {
    border-right: 2px solid rgba(0, 0, 0, 0.13);
    padding-right: 15px;
}

.f-mail-link {
    padding-left: 15px;
}

.f-contact {
    background: url('../images/sprite.png');
    background-position: -109px -59px;
    background-size: 320px;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    display: inline-block;
    margin-right: 5px;
}

.f-mail {
    background: url('../images/sprite.png');
    background-position: -155px -59px;
    background-size: 320px;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    display: inline-block;
    margin-right: 5px;
}

.country-title {
    font-family: 'konnect-Medium';
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    display: flex;
    align-items: center;
}

.social-media li a {
    background: url('../images/sprite.png');
    background-position: -73px -6px;
    background-size: 320px;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    display: inline-block;
    margin-right: 10px;
}

.social-media li.twitter a {
    background-position: -140px -6px;
}

.social-media li.linkdin a {
    background-position: -207px -6px;
}

.social-media li.instagram a {
    background-position: -274px -6px;
}

.social-media li a:hover {
    opacity: 0.7;
}


/* .social-media li a {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background: #CD1417;
    box-shadow: 0px 20px 60px rgb(0 0 0 / 10%);
    display: inline-block;
    color: #fff !important;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
    margin-right: 15px;
} */

@media screen and (min-width:1200px) {
    body .container {
        max-width: 95%;
    }
}

@media screen and (min-width:1365px) {
    .title-1 h2,
    .title-1 h3 {
        font-size: 48px;
        line-height: 65px;
    }
    .see-all-services .title-1 h2 {
        text-align: left;
        margin-left: 0px;
        margin-bottom: 15px;
    }
}

@media (min-width: 1600px) {
    body .container {
        max-width: 1652px;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 10px 25px !important;
    }
    .navbar-light .navbar-nav .nav-link.btn-get {
        padding: 20px 30px !important;
    }
    .team-of-talents .row {
        align-items: center;
    }
    .team-of-talents .row .about-content {
        padding: 0px 20px;
    }
}