@charset "utf-8";
/* Techark Common CSS */
html {
  height: 100%;
}


/* Header CSS */
.main-header {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: background-image ease .4s;
  -ms-transition: background-image ease .4s;
  transition: background-image ease .4s;
  position: relative;
}
.has-transparent-header .main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  background-image: none;
  background-size: 0;
  -webkit-transition: background-image ease .4s, top ease .4s;
  -ms-transition: background-image ease .4s, top ease .4s;
  transition: background-image ease .4s, top ease .4s;
  z-index: 99;
}
.has-transparent-header .main-header.techark-fixed {
  position: fixed;
  background-color: #0aacca;
  background-size: cover;
  -webkit-animation: mymove 0.8s forwards;
  -ms-animation: mymove 0.8s forwards;
  -o-animation: mymove 0.8s forwards;
  animation: mymove 0.8s forwards;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {
    top: -50%;
  }
  to {
    top: 0;
  }
}
/* Standard syntax */
@keyframes mymove {
  from {
    top: -50%;
  }
  to {
    top: 0;
  }
}
.has-transparent-header .sticky-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
}
.has-transparent-header .main-header:before {
  display: none;
}
.logo a {
  display: inline-block;
}
.sticky-logo, .is-sticky .default-logo, .techark-fixed .default-logo {
  display: none;
}
.techark-fixed .sticky-logo, .is-sticky .sticky-logo {
  display: inline-block;
}
.header-right {
  text-align: right;
}
.navigation {
  display: inline-block;
  vertical-align: middle;
}
.navigation ul {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  text-transform: uppercase;
  list-style-type: none;
}
.navigation ul li {
  display: inline-block;
  padding: 30px 7px;
  position: relative;
}
.navigation ul li .dropdown-arrow {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 2.8125rem;
  height: 3.125rem;
  background-image: url("../images/right-arrow.png");
  background-repeat: no-repeat;
  background-position: 18px 18px;
  cursor: pointer;
  -webkit-transition: all ease .4s;
  -ms-transition: all ease .4s;
  transition: all ease .4s;
  z-index: 1;
}
.navigation ul li a {
  color: #292724;
  text-transform: capitalize;
  font-weight: bold;
}
.navigation ul li .sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 15.625rem;
  font-size: 0.8125rem;
  background-color: #ffffff;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-border-radius: 0.1875rem;
  -ms-border-radius: 0.1875rem;
  -moz-border-radius: 0.1875rem;
  -o-border-radius: 0.1875rem;
  border-radius: 0.1875rem;
  -webkit-box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  -webkit-transition: all ease .4s;
  -ms-transition: all ease .4s;
  transition: all ease .4s;
  z-index: 2;
}
.navigation ul li:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
/* .navigation ul li .sub-menu:before {
  position: absolute;
  top: -0.625rem;
  left: 0.9375rem;
  border-bottom: solid 0.625rem rgb(255, 255, 255);
  border-left: solid 0.625rem transparent;
  border-right: solid 0.625rem transparent;
  content: "";
  -webkit-transition: all ease .4s;
  -ms-transition: all ease .4s;
  transition: all ease .4s;
  z-index: 1;
} */
.navigation ul li .sub-menu li {
  display: block;
  padding: 0;
}
.navigation ul li .sub-menu li a {
  display: block;
  padding: 0.6875rem 1.5625rem;
  color: #333;
  border-bottom: 0.064rem solid #ececec;
}
.navigation ul li .sub-menu li:first-child a {
  -webkit-border-radius: 0.1875rem 0.1875rem 0 0;
  -ms-border-radius: 0.1875rem 0.1875rem 0 0;
  -moz-border-radius: 0.1875rem 0.1875rem 0 0;
  -o-border-radius: 0.1875rem 0.1875rem 0 0;
  border-radius: 0.1875rem 0.1875rem 0 0;
}
.navigation ul li .sub-menu li:last-child a {
  -webkit-border-radius: 0 0 0.1875rem 0.1875rem;
  -ms-border-radius: 0 0 0.1875rem 0.1875rem;
  -moz-border-radius: 0 0 0.1875rem 0.1875rem;
  -o-border-radius: 0 0 0.1875rem 0.1875rem;
  border-radius: 0 0 0.1875rem 0.1875rem;
}
.navigation ul li .sub-menu li a:hover {
  background-color: #dfdfdf;
}
.navbar .sub-menu li.menu-item-has-children:before {
    position: absolute;
    top: 51%;
    right: 28px;
    width: 1px;
    height: 5px;
    background-color: #333333;
    content: "";
    cursor: pointer;
    -webkit-transform: rotate(-40deg) translateY(-52%);
    -ms-transform: rotate(-40deg) translateY(-52%);
    transform: rotate(-40deg) translateY(-52%);
    -webkit-transition: all ease .4s;
    -ms-transition: all ease .4s;
    transition: all ease .4s;
    z-index: 1;
}
.navbar .sub-menu li.menu-item-has-children:after {
    position: absolute;
    top: 51%;
    right: 28px;
    width: 1px;
    height: 6px;
    background-color: #333333;
    content: "";
    -webkit-transform: rotate(40deg) translateY(-52%);
    -ms-transform: rotate(40deg) translateY(-52%);
    transform: rotate(40deg) translateY(-52%);
    -webkit-transition: all ease .4s;
    -ms-transition: all ease .4s;
    transition: all ease .4s;
    z-index: 1;
}
.navbar .navbar-nav > li.menu-item-has-children:hover:before, .navbar .navbar-nav > li.menu-item-has-children:hover:after, .navbar .navbar-nav li.menu-item-has-children.current_page_item:before, .navbar .navbar-nav li.menu-item-has-children.current_page_item:after {
    background-color: #ad1717;
}
.header-buttons {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.9375rem;
}
.header-buttons .techark-btn {
  color: #5c6b80;
}
.header-buttons .techark-btn:hover, .header-buttons .techark-btn:focus {
  color: #ffffff;
}

/* Toggle CSS */
.header-toggle {
  display: none;
  vertical-align: middle;
  height: 1.875rem;
  margin-left: 1.5625rem;
}
.header-toggle .toggle-separator {
  display: inline-block;
  vertical-align: middle;
  width: 1.5625rem;
  height: 0.125rem;
  margin-top: 0.5rem;
  background-color: #ffffff;
  position: relative;
  -webkit-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s;
}
.header-toggle .toggle-separator:before, .header-toggle .toggle-separator:after {
  position: absolute;
  top: -0.5rem;
  right: 0;
  width: 100%;
  height: 0.125rem;
  background: #ffffff;
  content: "";
  -webkit-transition: all ease .3s;
  -ms-transition: all ease .3s;
  transition: all ease .3s;
  z-index: 1;
}
.header-toggle .toggle-separator:after {
  top: 0.5rem;
}
.header-toggle.active .toggle-separator {
  background-color: transparent;
}
.header-toggle.active .toggle-separator:before {
  top: -0.3125rem;
  -webkit-transform: translateY(0.3125rem) rotateZ(-45deg);
  -ms-transform: translateY(0.3125rem) rotateZ(-45deg);
  transform: translateY(0.3125rem) rotateZ(-45deg);
}
.header-toggle.active .toggle-separator:after {
  top: 0.3125rem;
  -webkit-transform: translateY(-0.3125rem) rotateZ(45deg);
  -ms-transform: translateY(-0.3125rem) rotateZ(45deg);
  transform: translateY(-0.3125rem) rotateZ(45deg);
}

.header-prite{ 
  background-image: url("../images/right-arrow.png");
  background-repeat: no-repeat;
}

@media screen and (min-width:992px){ 
  .navigation{
    display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .navigation ul li.rmenu-item{
    padding: 0px;
  }
  .login-btn{
    background-color: #ccc;
    font-size: 18px;
    color: #292724;
    padding: 12px 30px;
    border-radius: 30px;
    margin: 0px 10px;
    display: inline-block;
  }
  .login-btn img, .signup-btn img{
    height: 20px;
    width: 20px;
    margin-right: 5px;
  }
  .signup-btn{
    background-color: #006cff;
    font-size: 18px;
    color: #292724;
    padding: 12px 30px;
    border-radius: 30px;
    margin: 0px 10px;
    display: inline-block;
  }
  .navigation ul li .sub-menu{
    width: 1050px;
    left: -250px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
  }
  .navigation ul li .sub-menu li {
    width: 100%;
  }
  .navigation ul li .sub-menu .ls-title{
    font-size: 20px;
    padding: 12px 0px;
    border-bottom: 2px solid #fec13b;
    width: 46%;
    margin: 0px 15px;
  }
  .navigation ul li .sub-menu .cc-title{
    font-size: 20px;
    padding: 12px 0px;
    border-bottom: 2px solid #27ccbc;
    width: 46%;
    margin: 0px 15px;
  }
  .navigation ul li .sub-menu-child{
    display: flex;
      flex-wrap: wrap;
  }
  .navigation ul li .sub-menu-child li{
    width: 46%;
    background: #f8f8f8;
    border: 0px;
    margin: 15px;
  }
  .navigation ul li .sub-menu-child li a{
    display: flex;
    border: 0px;
  }
  .navigation ul li .sub-menu-child li a img{
    height: 32px;
    width: 32px;
    object-fit: contain;
  }
  .navigation ul li .sub-menu-child li a span{
    font-size: 16px;
    font-weight: bold;
    color: #292724;
    padding-left: 10px;
  }
  .top-title{
    display: flex;
    align-items: baseline;
  }
  .navigation ul > li a{   
    padding: 12px 30px;
  }
  .navigation ul > li a:hover{
    background: #fec13b;
    border-radius: 40px;
  }
  
}

@media screen and (max-width:991px) {
  .main-header {
    padding: 15px 0;
  }
  .header-toggle {
    display: inline-block;
  }
  .navigation {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: all ease .7s;
    -ms-transition: all ease .7s;
    transition: all ease .7s;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    z-index: 999;
  }
  .navigation-open .navigation {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.15);
  }
  .navigation .logo, .navigation ul li .sub-menu li.btn-prev {
    display: block;
  }
  .navigation .logo {    
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .navigation .logo img {
    width: 11.25rem;
  }
  .close-icon {
    display: inline-block;
    vertical-align: middle;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 0;
    border: 0.062rem solid #999999;
    position: relative;
    -webkit-border-radius: 1.875rem;
    -ms-border-radius: 1.875rem;
    border-radius: 1.875rem;
    -webkit-transition: all ease .4s;
    -ms-transition: all ease .4s;
    transition: all ease .4s;
  }
  .close-icon:hover {
    background-color: #f9ac19;
    border-color: #f9ac19;
  }
  .close-icon:before, .close-icon:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.25rem;
    height: 0.125rem;
    background: #999999;
    content: "";
    -webkit-transition: all ease .4s;
    -ms-transition: all ease .4s;
    transition: all ease .4s;
    z-index: 1;
  }
  .close-icon:before {
    -webkit-transform: translateY(-50%) translateX(-50%) rotateZ(-45deg);
    -ms-transform: translateY(-50%) translateX(-50%) rotateZ(-45deg);
    transform: translateY(-50%) translateX(-50%) rotateZ(-45deg);
  }
  .close-icon:after {
    -webkit-transform: translateY(-50%) translateX(-50%) rotateZ(45deg);
    -ms-transform: translateY(-50%) translateX(-50%) rotateZ(45deg);
    transform: translateY(-50%) translateX(-50%) rotateZ(45deg);
  }
  .close-icon:hover:before, .close-icon:hover:after {
    background: #ffffff;
  }
  .navigation ul {
    padding: 0;
    position: relative;
  }
  .navigation ul li {
    display: block;
    padding: 0;
    position: static;
    border-bottom: 0.062rem solid rgba(0, 0, 0, 0.1);
  }
  .navigation ul li .dropdown-arrow {
    position: static;
    display: inline-block;
    float: right;
  }
  .navigation ul li a, .navigation ul li .sub-menu li a {
    display: inline-block;
    padding: 0.8125rem 1.25rem;
    font-family: 'Lato-Bold';
    font-size: 1rem;
    color: #333;
    text-transform: none;
    border: none;
  }
  .navigation ul li a {
    font-size: 1.0625rem;
  }
  .navigation ul li a:hover, .navigation ul li .sub-menu li a:hover {
    color: #f9ac19;
  }
  .navigation ul li .sub-menu {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    padding: 0 0 1.5625rem;
    z-index: 1;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all ease .6s;
    -ms-transition: all ease .6s;
    transition: all ease .6s;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
  }
  .navigation ul li.open .sub-menu.open {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .navigation ul li .sub-menu:before {
    display: none;
  }
  .navigation ul li .sub-menu li.btn-prev {
    margin-bottom: 0.625rem;
    border: none;
  }
  .navigation ul li .sub-menu li.btn-prev a {
    display: block;
    padding: 0.375rem 1.25rem;
    font-size: 1.25rem;
    text-align: center;
  }
  .navigation ul li .sub-menu li.btn-prev a:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    margin-left: 1.25rem;
    background-color: #00bbe2;
    background-image: url("../images/right-arrow.png");
    background-position: -427px -28px;
    background-repeat: no-repeat;
    content: "";
    -webkit-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    z-index: 1;
  }
  .navigation ul li .sub-menu li a:hover {
    background-color: transparent;
  }
  .navigation ul li .dropdown-arrow.right-arrow{
	      background-position: -425px 6px;
  }
  .login-btn {
    background-color: #ccc;
    font-size: 18px;
    color: #292724;
    padding: 12px 30px;
    border-radius: 30px;
    margin: 10px;
    display: inline-block;
}
.signup-btn {
    background-color: #006cff;
    font-size: 18px;
    color: #292724;
    padding: 12px 30px;
    border-radius: 30px;
    margin: 10px;
    display: inline-block;
}
.login-btn img, .signup-btn img{
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
}